name: Spring Boot CI/CD (No Docker)

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build the Spring Boot App
        run: mvn clean package -DskipTests=true

      - name: Upload JAR Artifact (v4)
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app
          path: target/*.jar


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download JAR Artifact (v4)
        uses: actions/download-artifact@v4
        with:
          name: springboot-app

      - name: Copy JAR to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "*.jar"
          target: "~/spring-app/new.jar"

      - name: Restart Spring Boot app on server
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Stopping old application..."
            pkill -f "java -jar" || true

            echo "Replacing JAR..."
            mv ~/spring-app/new.jar ~/spring-app/app.jar

            echo "Starting new version..."
            nohup java -jar ~/spring-app/app.jar > app.log 2>&1 &
            exit
